<mat-card class="card-servicos-home" *ngFor="card item of cards">
    <mat-card-header>
        <!-- <div mat-card-avatar class="header-image"></div> -->
        <i class="material-icons">{{card.icone}}</i>
        <mat-card-title>{{card.titulo}}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{card.descricao}}
        </p>
    </mat-card-content>
    <mat-card-actions>        
        <button mat-button>Saiba mais</button>
    </mat-card-actions>
</mat-card>